.main {
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.text {
  color: #6f6f6a;
}

.table {
  margin-top: 50px;
}

.dataGrid {
  margin-top: 50px;
  width: 90%
}

.toolbar {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
}