.main {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.text {
  color: #6f6f6a;
}

.detail-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: scroll;
  background-color: white;
  box-shadow: 24;
  padding: 4;
}

.paper {
  white-space: pre-wrap;
}

.stacked-chart {
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.rowHover:hover {
  cursor: pointer;
}