.container {
    display: flex;
  }
  
.text {
    flex: 1;
    margin-right: 20px;
  }
  
.colored {
    background-color: yellow;
  }
  
.bar {
    width: 8px;
    background-color: grey;
    position: fixed;
    right: 0;
    height: 100vh;
  }