.text {
  color: #6f6f6a;
}

.stacked-chart-paper {
  margin-right: 10px;
  border-radius: 10px;
  width: 70%;
  height: 500px;
  padding: 10px;
}

.stacked-chart {
  width: 100%;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.text {
  color: #6f6f6a;
}

.pie-chart-paper {
  border-radius: 10px;
  width: 30%;
}

.pie-chart {
  width: 100%;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
